.card {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    padding: 12px 20px 8px 18px;
    width: 220px;
    height: 155px;
    margin-right: 20px;
}