.container {
    display: flex;
    background-color: #E8EFF2;
    height: calc(100% - 90px);
}

.content {
    position: absolute;
    top: 90px;
    left: 85px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 85px);
    height: calc(100% - 160px);
    transition: .3s;

    &--open {
        left: 300px;
        width: calc(100% - 300px);
    }
}

.stepper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 16px;
    font-weight: 600;
}

h2 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 400;
}

.form {
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    align-items: center;
    width: 80%;
    img {
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .secundary-text {
        font-size: 11px;
        font-weight: 400;
        color: #787878;
        margin-top: 3px;
    }

    .infos {
        display: flex;
        align-items: center;
    }

    .text {
        font-size: 11px;
        font-weight: 400;
        color: #333333;
    }
}