.footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 85px;
    background-color: white;
    width: calc(100% - 85px);
    height: 70px;
    padding: 15px;
    transition: .3s;

    &--open {
        left: 300px;
        width: calc(100% - 300px);
    }
}