<div [class.header--open]="open" class="header">
    <div class="text">
        <h1>NOVA ADMISSÃO COOPERADO</h1>
        <span class="breadcrumb">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span>
    </div>

    <div class="nav-buttons">
        <div class="notification">
            <div class="notifications">
                7
            </div>
            <img class="icon" src="../../../assets/icons/notifications.svg" alt="">
        </div>
        <div class="button-coop">VIACREDI</div>
        <div class="user">
            <img class="image" src="../../../assets/images/avatar.jfif" alt="">
            <img class="icon" src="../../../assets/icons/settings.svg" alt="">
        </div>
    </div>
</div>