<div class="menu">
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="">
    </div>
    
    <div class="icon-menu">
        <img src="../../../assets/icons/menu.svg" alt="">
    </div>

    <div class="items-menu">
        <img src="../../../assets/icons/search.svg" alt="">
        <img src="../../../assets/icons/star.svg" alt="">
        <img src="../../../assets/icons/sms.svg" alt="">
        <img src="../../../assets/icons/article.svg" alt="">
        <img src="../../../assets/icons/house.svg" alt="">
    </div>
</div>